{% extends 'base.html.twig' %}

{% block body %}
    {% block title %}Recetas de la categoría {{ categoria | capitalize }}{% endblock %}
    
    <div class="content">
    {% block content %}
            {% for receta in recetas %}
                 <p><a href="{{ path('mostrar_receta', {'nombre' : receta.categoria|lower , 'slug' : receta.slug|lower}) }}" class="title">{{ receta.nombre }}</a></p>
                {% if receta.ruta  %}
                    <img src="/{{ receta.path }}/{{ receta.ruta }}" alt="{{ receta.nombre }}" title="{{ receta.nombre }}">
                {% endif %}  
                    <p>{{ receta.ingredientes }}</p>
                    <p>{{ receta.preparacion }}</p>
                    <p>{{ receta.dificultad }}</p>
                    <p>Creado en la categoría <a href="{{ path( 'mostrar_categoria', {'nombre' : receta.categoria|lower } )}}"><span style="color:blue">{{ receta.categoria }}</span></a> por el usuario <span style="color: pink">{{ receta.usuario }}</span></p>
                {% else %}
                     <div class="well">No se han encontrado recetas</div>
            {% endfor %}  
    {% endblock %}
    </div>
    
{% endblock %}
